.mobile{
    display: none;

}
.desktop{
    display: block;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    .mobile{
        display: block;
        width: 100%;
       
    
    }
    .desktop{
        display: none;
    }
}